<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <main>
        <div class="article">
            <a href="javascript:void(0);" class="btn" id="back">
                Back
            </a>
            <div class="article-title">
                <h1>{{ page.title }}</h1>
                <h4>{{ page.date | date: "%b %-d %Y" }}</h4>
            </div>
            <img src="{{ page.title_image }}" alt="title image" class="post-image">
            {{ content }}
        </div>    
    </main>

    <footer>
    </footer>

    {% include scripts.html %}
</body>
</html>